body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#clock {
    font-size: 10.9375rem;
    width: 900px;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}